In [1]:
1. Pivot Table
2. Pandas Concat
3. Pandas Merge
4. Pandas join

SyntaxError: invalid syntax (1759721265.py, line 1)

In [2]:
import numpy as np
import pandas as pd

In [ ]:
data={'Country':['India','USA','Japan','China','India','USA'],
     'Year':['2010','2010','2010','2015','2015','2015'],
     'Continent':['Asia','NA','Asia','Asia','Asia','NA'],
      'Value':[20,10,40,50,60,55],
     }

In [ ]:
df =pd.DataFrame(data)

In [ ]:
df

# Pivot  Table

In [ ]:
pd.pivot_table(df,index=['Year'],aggfunc='sum')

In [ ]:
pd.pivot_table(df,index=['Continent'],aggfunc='sum')

# Concatenation
## Concat

In [ ]:
people1={'id':[1,2,3,4],
        'name':['ab','rf','kl','ed'],
        'age':[45,25,41,30]
       }
people2={'id':[11,22,33,44],
        'name':['awd','rgf','kal','ekd'],
        'age':[35,15,40,35]
       }  
people3 ={'id':[111,222,333,444],
        'name':['oab','rnk','kml','ecd'],
        'age':[55,75,81,50]
       }

In [ ]:
df1=pd.DataFrame(people1)
df2=pd.DataFrame(people2)
df3=pd.DataFrame(people3)

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],ignore_index=True)

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
people4={'id':[1,2,3,4],
        'name':['ab','rf','kl','ed'],
        'age':[45,25,41,30]
       }
people5={'id':[1,2,3,4],
        'name':['ab','rf','kl','ed'],
        'sales':[535,415,540,235]
         
       }

In [ ]:
df4=pd.DataFrame(people4)
df5=pd.DataFrame(people5)

In [ ]:
pd.merge(df4,df5,on=['id','name'])

In [ ]:
pd.merge(df4,df5,on=['id'])

# Join

In [ ]:
people6={'id':[1,2,3,4],
        'name':['ab','rf','kl','ed'],
        'age':[45,25,41,30]
       }
people7={
        's_name':['b','r','l','d'],
        'ph':[123535,417415,895540,365235]
         
       }

In [ ]:
df6=pd.DataFrame(people6)
df7=pd.DataFrame(people7)

In [ ]:
df6.join(df7)

# Reading tsv Files

In [ ]:
d1=pd.read_csv('mytsv.tsv')
d1

In [ ]:
d1=pd.read_csv('mytsv.tsv',sep='\t')
d1

# Reading txt File

In [ ]:
d2=pd.read_csv('mysemi.txt.txt')
d2

In [ ]:
d2=pd.read_csv('mysemi.txt.txt',sep=';')
d2

# Creating a json file

In [ ]:
df6

In [ ]:
df6.to_json('myjson.json')

# To read from json file

In [ ]:
d4=pd.read_json('myjson.json')
d4

# Creating csv file

In [ ]:
df5

In [ ]:
df5.to_csv('myscvvv.csv')

In [3]:
d=pd.read_csv('movies.csv')

In [4]:
d

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy