In [2]:
import pandas as pd

In [2]:
movies = pd.read_clipboard()

In [4]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri,Bollywood,Acction,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,English,150,9.0
4,5,Avengers-End Game,Hollywood,Action,English,180,8.5
5,6,TENET,Hollywood,SciFi,English,150,8.0
6,7,Major,Bollywood,action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholey,Bollywood,Drama,Hindi,150,8.5

In [3]:
movies=pd.read_csv(r'myMovies.csv')

In [6]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri,Bollywood,Acction,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,English,150,9.0
4,5,Avengers-End Game,Hollywood,Action,English,180,8.5
5,6,TENET,Hollywood,SciFi,English,150,8.0
6,7,Major,Bollywood,action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholey,Bollywood,Drama,Hindi,150,8.5

In [8]:
movies['id']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
Name: id, dtype: int64

In [9]:
movies['id'][1]

2

In [10]:
movies['name'].max()

'Yeh Jawani Hai Deewani'

In [11]:
movies['rating']=10

In [12]:
c=movies['rating']=10

In [13]:
c

10

In [14]:
c

10

In [16]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,action,Telugu,170,10
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,10
2,3,Uri,Bollywood,Acction,Hindi,120,10
3,4,DDLJ,Bollywood,Romantic,English,150,10
4,5,Avengers-End Game,Hollywood,Action,English,180,10
5,6,TENET,Hollywood,SciFi,English,150,10
6,7,Major,Bollywood,action,Hindi,140,10
7,8,Intersteller,Hollywood,SciFi,English,190,10
8,9,Gravity,Hollywood,SciFi,English,130,10
9,10,Titanic,Hollywood,Drama,English,180,10
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,10
11,12,Houseful,Bollywood,Comedy,Hindi,150,10
12,13,The Dictator,Hollywood,Comedy,English,120,10
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,10
14,15,Sholey,Bollywood,Drama,Hindi,150,10

In [17]:
movies=pd.read_csv(r'myMovies.csv')

In [18]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri,Bollywood,Acction,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,English,150,9.0
4,5,Avengers-End Game,Hollywood,Action,English,180,8.5
5,6,TENET,Hollywood,SciFi,English,150,8.0
6,7,Major,Bollywood,action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholey,Bollywood,Drama,Hindi,150,8.5

In [19]:
movies['name'].max()

'Yeh Jawani Hai Deewani'

In [22]:
movies['rating']>=10

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

In [23]:
d=movies['rating']>=10

In [24]:
d

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

In [25]:
movies[d]

   id name   industry    genre language  duration  rating
2   3  Uri  Bollywood  Acction    Hindi       120    10.0

In [26]:
movies['industry'].count()

15

In [27]:
e=set(movies['industry'])

In [28]:
e

{'Bollywood', 'Hollywood', 'Tollywood'}

In [30]:
len(e)

3

In [31]:
movies['duration'].max()

190

In [32]:
movies['duration'].argmax()

7

In [33]:
movies['name'][movies['duration'].argmax()]

'Intersteller'

In [34]:
movies['name'][7]

'Intersteller'

In [36]:
movies['genre'][0]

'action'

In [37]:
len(movies['rating']>=10)

15

In [38]:
e

{'Bollywood', 'Hollywood', 'Tollywood'}

In [39]:
len(d)

15

In [40]:
movies[d]

   id name   industry    genre language  duration  rating
2   3  Uri  Bollywood  Acction    Hindi       120    10.0

In [42]:
movies[d].count()

id          1
name        1
industry    1
genre       1
language    1
duration    1
rating      1
dtype: int64

In [43]:
len(movies['rating']==10)

15

In [44]:
movies['duration'].max()

190

In [45]:
movies['rating']==10

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

In [51]:
len(movies['name'][movies['rating']==10])

1

In [54]:
movies['name'][movies['rating']==10]

2     Uri
3    DDLJ
Name: name, dtype: object

In [55]:
len(movies['rating']==10)

15

In [56]:
len(movies['name'][movies['rating']==10])

2

In [57]:
movies['name'][movies['rating']==10]

2     Uri
3    DDLJ
Name: name, dtype: object

In [58]:
d=movies['rating']==10

In [59]:
movies[d]

   id  name   industry     genre language  duration  rating
2   3   Uri  Bollywood   Acction    Hindi       120    10.0
3   4  DDLJ  Bollywood  Romantic  English       150    10.0

In [60]:
len(movies[d])

2

In [65]:
f=movies['genre']=='Comedy'

In [62]:
sum(d)

2

In [66]:
f

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14    False
Name: genre, dtype: bool

In [67]:
movies['name'][f]

11        Houseful
12    The Dictator
13      Hera Pheri
Name: name, dtype: object

In [68]:
movies[f]

    id          name   industry   genre language  duration  rating
11  12      Houseful  Bollywood  Comedy    Hindi       150     6.0
12  13  The Dictator  Hollywood  Comedy  English       120     7.0
13  14    Hera Pheri  Bollywood  Comedy    Hindi       140     9.0

In [69]:
m=movies[f]

In [70]:
m

    id          name   industry   genre language  duration  rating
11  12      Houseful  Bollywood  Comedy    Hindi       150     6.0
12  13  The Dictator  Hollywood  Comedy  English       120     7.0
13  14    Hera Pheri  Bollywood  Comedy    Hindi       140     9.0

In [72]:
m['rating'].argmax()

2

In [76]:
len(movies['industry'].value_counts())

3

In [77]:
movies['industry'].nunique()

3

In [78]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

In [79]:
m.min()

id                  12
name        Hera Pheri
industry     Bollywood
genre           Comedy
language       English
duration           120
rating             6.0
dtype: object

In [83]:
x=m['rating'].min()

In [84]:
m['name'][m['rating']==x]

11    Houseful
Name: name, dtype: object

In [108]:
movies['name'][movies[movies['genre']=='Comedy']['rating'].idxmin()]

'Houseful'

In [100]:
m[e]

    id      name   industry   genre language  duration  rating
11  12  Houseful  Bollywood  Comedy    Hindi       150     6.0

In [91]:
e['name'][e['rating']==e['rating'].min()]

11    Houseful
Name: name, dtype: object

In [114]:
movies['name'][movies[movies['language']=='English']['duration'].idxmax()]

'Intersteller'

In [5]:
movies['name']

0                  Baahubali
1                 Brahmastra
2                        Uri
3                       DDLJ
4          Avengers-End Game
5                      TENET
6                      Major
7               Intersteller
8                    Gravity
9                    Titanic
10    Yeh Jawani Hai Deewani
11                  Houseful
12              The Dictator
13                Hera Pheri
14                    Sholey
Name: name, dtype: object

In [19]:
movies['genre'][movies['name']=='Intersteller'].values[0]

'SciFi'

In [4]:
movies['genre'][movies['name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [8]:
n=movies['name']

In [9]:
n.tolist()

['Baahubali',
 'Brahmastra',
 'Uri',
 'DDLJ',
 'Avengers-End Game',
 'TENET',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'Yeh Jawani Hai Deewani',
 'Houseful',
 'The Dictator',
 'Hera Pheri',
 'Sholey']

In [10]:
n.str.count('e')

0     0
1     0
2     0
3     0
4     3
5     0
6     0
7     3
8     0
9     0
10    3
11    1
12    1
13    2
14    1
Name: name, dtype: int64

In [11]:
n.str.endswith('e')

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: name, dtype: bool

In [12]:
n.str.find('i')

0     8
1    -1
2     2
3    -1
4    -1
5    -1
6    -1
7    -1
8     4
9     1
10    9
11   -1
12    5
13    9
14   -1
Name: name, dtype: int64

In [13]:
n.str.get(0)

0     B
1     B
2     U
3     D
4     A
5     T
6     M
7     I
8     G
9     T
10    Y
11    H
12    T
13    H
14    S
Name: name, dtype: object

In [16]:
n.str.get_dummies()

,Avengers-End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Houseful,Intersteller,Major,Sholey,TENET,The Dictator,Titanic,Uri,Yeh Jawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [19]:
n=movies['industry']

In [20]:
n.str.get_dummies()

    Bollywood  Hollywood  Tollywood
0           0          0          1
1           1          0          0
2           1          0          0
3           1          0          0
4           0          1          0
5           0          1          0
6           1          0          0
7           0          1          0
8           0          1          0
9           0          1          0
10          1          0          0
11          1          0          0
12          0          1          0
13          1          0          0
14          1          0          0

In [21]:
n=movies['name']

In [28]:
#n.str.index('e')

In [30]:
n.str.split('e').str.join('--*--')

0                              Baahubali
1                             Brahmastra
2                                    Uri
3                                   DDLJ
4          Av--*--ng--*--rs-End Gam--*--
5                                  TENET
6                                  Major
7               Int--*--rst--*--ll--*--r
8                                Gravity
9                                Titanic
10    Y--*--h Jawani Hai D--*----*--wani
11                          Hous--*--ful
12                      Th--*-- Dictator
13                    H--*--ra Ph--*--ri
14                            Shol--*--y
Name: name, dtype: object

In [33]:
n.str.strip()

0                  Baahubali
1                 Brahmastra
2                        Uri
3                       DDLJ
4          Avengers-End Game
5                      TENET
6                      Major
7               Intersteller
8                    Gravity
9                    Titanic
10    Yeh Jawani Hai Deewani
11                  Houseful
12              The Dictator
13                Hera Pheri
14                    Sholey
Name: name, dtype: object

In [35]:
movies['genre'][movies['name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [46]:
movies['genre'].unique

<bound method Series.unique of 0         action
1     Mystereous
2        Acction
3       Romantic
4         Action
5          SciFi
6         action
7          SciFi
8          SciFi
9          Drama
10      Romantic
11        Comedy
12        Comedy
13        Comedy
14         Drama
Name: genre, dtype: object>

In [43]:
for genre in movies['genre'].unique():
    print(genre, movies[movies['genre']==genre]['duration'].mean())

action 155.0
Mystereous 180.0
Acction 120.0
Romantic 150.0
Action 180.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [48]:
movies.groupby('genre')['duration'].mean()

genre
Acction       120.000000
Action        180.000000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFi         156.666667
action        155.000000
Name: duration, dtype: float64

In [52]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Bollywood  Acction       120.000000
           Comedy        145.000000
           Drama         150.000000
           Mystereous    180.000000
           Romantic      150.000000
           action        140.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           SciFi         156.666667
Tollywood  action        170.000000
Name: duration, dtype: float64

In [54]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Baahubali,Tollywood,action,Telugu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri,Bollywood,Acction,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,English,150,9.0
4,5,Avengers-End Game,Hollywood,Action,English,180,8.5
5,6,TENET,Hollywood,SciFi,English,150,8.0
6,7,Major,Bollywood,action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholey,Bollywood,Drama,Hindi,150,8.5

In [55]:
movies.describe

<bound method NDFrame.describe of     id                    name   industry       genre language  duration  \
0    1               Baahubali  Tollywood      action   Telugu       170
1    2              Brahmastra  Bollywood  Mystereous    Hindi       180
2    3                     Uri  Bollywood     Acction    Hindi       120
3    4                    DDLJ  Bollywood    Romantic  English       150
4    5       Avengers-End Game  Hollywood      Action  English       180
5    6                   TENET  Hollywood       SciFi  English       150
6    7                   Major  Bollywood      action    Hindi       140
7    8            Intersteller  Hollywood       SciFi  English       190
8    9                 Gravity  Hollywood       SciFi  English       130
9   10                 Titanic  Hollywood       Drama  English       180
10  11  Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150
11  12                Houseful  Bollywood      Comedy    Hindi       150
12  13            The Dictator  Hollywood      Comedy  English       120
13  14              Hera Pheri  Bollywood      Comedy    Hindi       140
14  15                  Sholey  Bollywood       Drama    Hindi       150

    rating
0      9.5
1      5.0
2     10.0
3      9.0
4      8.5
5      8.0
6      8.0
7      7.0
8      6.0
9      9.0
10     5.0
11     6.0
12     7.0
13     9.0
14     8.5  >

In [58]:
movies.drop('id',axis=1, inplace=True)

In [59]:
movies

                      name   industry       genre language  duration  rating
0                Baahubali  Tollywood      action   Telugu       170     9.5
1               Brahmastra  Bollywood  Mystereous    Hindi       180     5.0
2                      Uri  Bollywood     Acction    Hindi       120    10.0
3                     DDLJ  Bollywood    Romantic  English       150     9.0
4        Avengers-End Game  Hollywood      Action  English       180     8.5
5                    TENET  Hollywood       SciFi  English       150     8.0
6                    Major  Bollywood      action    Hindi       140     8.0
7             Intersteller  Hollywood       SciFi  English       190     7.0
8                  Gravity  Hollywood       SciFi  English       130     6.0
9                  Titanic  Hollywood       Drama  English       180     9.0
10  Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
11                Houseful  Bollywood      Comedy    Hindi       150     6.0
12            The Dictator  Hollywood      Comedy  English       120     7.0
13              Hera Pheri  Bollywood      Comedy    Hindi       140     9.0
14                  Sholey  Bollywood       Drama    Hindi       150     8.5

In [63]:
movies.groupby('industry')['rating'].mean()

industry
Bollywood    7.562500
Hollywood    7.583333
Tollywood    9.500000
Name: rating, dtype: float64

In [66]:
movies.groupby(['industry','genre'])['rating'].mean()

industry   genre
Bollywood  Acction       10.0
           Comedy         7.5
           Drama          8.5
           Mystereous     5.0
           Romantic       7.0
           action         8.0
Hollywood  Action         8.5
           Comedy         7.0
           Drama          9.0
           SciFi          7.0
Tollywood  action         9.5
Name: rating, dtype: float64

In [67]:
movies=pd.read_csv(r"myMovies.csv",index_col=0)

In [68]:
movies

                      name   industry       genre language  duration  rating
id
1                Baahubali  Tollywood      action   Telugu       170     9.5
2               Brahmastra  Bollywood  Mystereous    Hindi       180     5.0
3                      Uri  Bollywood     Acction    Hindi       120    10.0
4                     DDLJ  Bollywood    Romantic  English       150     9.0
5        Avengers-End Game  Hollywood      Action  English       180     8.5
6                    TENET  Hollywood       SciFi  English       150     8.0
7                    Major  Bollywood      action    Hindi       140     8.0
8             Intersteller  Hollywood       SciFi  English       190     7.0
9                  Gravity  Hollywood       SciFi  English       130     6.0
10                 Titanic  Hollywood       Drama  English       180     9.0
11  Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
12                Houseful  Bollywood      Comedy    Hindi       150     6.0
13            The Dictator  Hollywood      Comedy  English       120     7.0
14              Hera Pheri  Bollywood      Comedy    Hindi       140     9.0
15                  Sholey  Bollywood       Drama    Hindi       150     8.5

In [76]:
movies['industry'][movies['genre']=='Romantic']

id
4     Bollywood
11    Bollywood
Name: industry, dtype: object

In [79]:
movies.describe(include='all')

             name   industry  genre language    duration     rating
count          15         15     15       15   15.000000  15.000000
unique         15          3      8        3         NaN        NaN
top     Baahubali  Bollywood  SciFi    Hindi         NaN        NaN
freq            1          8      3        7         NaN        NaN
mean          NaN        NaN    NaN      NaN  153.333333   7.700000
std           NaN        NaN    NaN      NaN   22.253946   1.612452
min           NaN        NaN    NaN      NaN  120.000000   5.000000
25%           NaN        NaN    NaN      NaN  140.000000   6.500000
50%           NaN        NaN    NaN      NaN  150.000000   8.000000
75%           NaN        NaN    NaN      NaN  175.000000   9.000000
max           NaN        NaN    NaN      NaN  190.000000  10.000000

In [80]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ KB

In [89]:
movies.groupby('genre').describe().T

genre           Acction  Action      Comedy       Drama  Mystereous  \
duration count      1.0     1.0    3.000000    2.000000         1.0
         mean     120.0   180.0  136.666667  165.000000       180.0
         std        NaN     NaN   15.275252   21.213203         NaN
         min      120.0   180.0  120.000000  150.000000       180.0
         25%      120.0   180.0  130.000000  157.500000       180.0
         50%      120.0   180.0  140.000000  165.000000       180.0
         75%      120.0   180.0  145.000000  172.500000       180.0
         max      120.0   180.0  150.000000  180.000000       180.0
rating   count      1.0     1.0    3.000000    2.000000         1.0
         mean      10.0     8.5    7.333333    8.750000         5.0
         std        NaN     NaN    1.527525    0.353553         NaN
         min       10.0     8.5    6.000000    8.500000         5.0
         25%       10.0     8.5    6.500000    8.625000         5.0
         50%       10.0     8.5    7.000000    8.750000         5.0
         75%       10.0     8.5    8.000000    8.875000         5.0
         max       10.0     8.5    9.000000    9.000000         5.0

genre             Romantic       SciFi      action
duration count    2.000000    3.000000    2.000000
         mean   150.000000  156.666667  155.000000
         std      0.000000   30.550505   21.213203
         min    150.000000  130.000000  140.000000
         25%    150.000000  140.000000  147.500000
         50%    150.000000  150.000000  155.000000
         75%    150.000000  170.000000  162.500000
         max    150.000000  190.000000  170.000000
rating   count    2.000000    3.000000    2.000000
         mean     7.000000    7.000000    8.750000
         std      2.828427    1.000000    1.060660
         min      5.000000    6.000000    8.000000
         25%      6.000000    6.500000    8.375000
         50%      7.000000    7.000000    8.750000
         75%      8.000000    7.500000    9.125000
         max      9.000000    8.000000    9.500000

In [99]:
movies[movies['genre']=='Romantic'].groupby(['industry']).mean()

           duration  rating
industry
Bollywood     150.0     7.0

In [113]:
movies[movies['language']=='English'][['name','rating']].sort_values('rating',ascending=False)

                 name  rating
id
4                DDLJ     9.0
10            Titanic     9.0
5   Avengers-End Game     8.5
6               TENET     8.0
8        Intersteller     7.0
13       The Dictator     7.0
9             Gravity     6.0